@use "../settings" as settings;

.feature-item {
  flex: 1;
  padding: 2.5rem;

  .feature-item__icon {
    width: 100px;
    border: 10px solid settings.$color-green;
    border-radius: 50%;
    padding: 1rem;
  }

  .feature-item__title {
    color: settings.$color-black;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
